/* * {
    border: red 1px solid;
    display: block; 
  } */
section {
    width: 50%
}
tHead {
    text-align : center;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}
form {
    width: 30%;
    float: right;
}